<h2>Employee List</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Job Title</th>
        <th>Department</th>
        <th>Contact</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let employee of employees">
        <td>{{ employee.name }}</td>
        <td>{{ employee.jobTitle }}</td>
        <td>{{ employee.department }}</td>
        <td>{{ employee.contact }}</td>
        <td>
            <a [routerLink]="['/employees', 'employee.id']">View</a>
            <a [routerLink]="['/employees/new']">Add</a>
        </td>
    </tr>
</table>
